<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>MBTA Accessibility</title>
	<link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
<div id="container">
	<nav><p><a href="/">Alerts</a> &bull; <a href="/green">Green Line tool</a></p></nav>
	
	{% block body %}
	{% endblock %}
<footer>
	<p><a href="https://github.com/nhfruchter/t-access">GitHub: @nhfruchter</a> &bull; Data from the MBTA subject to the MassDOT Developer's License Agreement &bull; Not affiliated with the MBTA</p>
</footer>	

</div>	
</body>
{% block includes %}
{% endblock %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-21278853-8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-21278853-8');
</script>
</html>